.reactModalLib {
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(2px);
}

.reactModalLib__container {
  background: #fff;
  max-width: 80%;
  position: relative;
  margin-inline: auto;
  padding: 15px 20px;
}

.reactModalLib__btnClose {
  background: #3d3d3d;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  transition: .3s all ease;
}

.reactModalLib__btnClose:hover,
.reactModalLib__btnClose:focus {
  background: #000;
}

.reactModalLib__btnClose svg{
  width: 100%;
  fill: #FFF;
  transition: .3s all ease;
}